.addButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 16px;

  position: fixed;
  width: 288px;
  height: 66px;
  left: 50%;
  top: 73vh;
  transform: translateX(-50%);

  background: #3582ff;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  /* Text styles */
  color: white;
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  font-weight: 500;

  /* Animation */
  transition: all 0.2s ease-in-out;

  position: relative;
  overflow: hidden; /* Important for containing the ripple */
}

.addButton:hover {
  background: #2b6cd9;
}

.addButton:active {
  transform: translateX(-50%) scale(0.98);
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .addButton {
    max-width: 322px;
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(0);
  animation: ripple 0.6s linear;
  pointer-events: none;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
