.addCategoryWrapper {
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: flex-end;
  backdrop-filter: blur(15px) brightness(80%);
}
.addCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  overflow-y: auto;
  color: var(--text-color);
  max-height: 90vh;
  height: 81vh;
  width: 100%;
  box-shadow: 0 -0.2px 0px 2px var(--primary-color);
  border-radius: 30px 30px 0px 0px;
  background: var(--background-color-primary);
}
.heading {
  text-align: center;
}
.closeButton {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 22px;
  transition: 0.3s;
}
.closeButton:hover {
  transform: scale(1.05);
}
.inputCategoryContainer {
  margin-top: 12px;
}
.inputCategoryContainer input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 0;
  color: inherit;
  display: block;
  font-family: inherit;
  margin: 0;
  opacity: 1;
  padding: 0;
}
.inputCategory {
  border-radius: 8px;
  background-color: var(--container-color);
  outline: none;
  height: 64px;
  font-size: 30px;
  font-family: "GothamProBold";
  text-align: center;
  width: 240px;
  box-shadow: 0px 0px 0px 2px var(--primary-color);
  transition: 30s;
  caret-color: var(--tab-color);
}
.colors {
  display: flex;
  margin-top: 15px;
  gap: 5px;
}
.color {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: transform 0.2s;
}
.color:hover {
  transform: scale(1.02);
}
.selected {
  border: 3px solid var(--text-color);
}
.addCategoryButton {
  background-color: var(--disabled-button);
  width: 288px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 12px;
  border: none;
  cursor: not-allowed;
}
.activeButton {
  background-color: var(--button-primary-color);
  transition: transform 0.3s;
  cursor: pointer;
}
.activeButton:hover {
  transform: scale(1.02);
}
