.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24%;
}

.container {
  height: calc(130vh);
  background-color: #15314c;
  border-radius: 20px;
  padding: 11px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25), 0px 0px 40px rgba(0, 0, 0, 0.25);
}
.addButton {
  position: fixed;
  bottom: 110px;
  right: 50%;
  transform: translateX(50%);
}
.addButtonStyled {
  width: 288px;
  height: 56px;
  font-size: 20px;
  border-radius: 20px;
  top: 5px;
}
.accountHeadWrapper {
  display: flex;
  gap: 50px;
}
.accountHead {
  color: white;
  padding: 12px;
  border-radius: 12px;
  background-color: #3582ff;
}
.accountHeader {
  display: flex;
  justify-content: space-between;
}
.accountHead p {
  font-weight: 700;
  font-size: 20px;
}

.sum p {
  font-size: 16px;
}
.sum p:first-child {
  font-family: "GothamProBold";
}
.sumText {
  font-size: 30px !important;
  font-family: "GothamProLight" !important;
}
.currencyHeader {
  font-size: 13px !important;
  font-family: "GothamProBold";
}
.currencyText {
  font-size: 30px !important;
  font-family: "GothamProBold";
}
/* For accounts items */
.accountItem {
  color: white;
  border-radius: 12px;
  padding: 12px;
  background-color: #2a5d91;
}
.accountItem:first-child {
  margin-top: 15px;
}
.accountItem:not(:last-child) {
  margin-bottom: 8px;
}
.accountItemHeader {
  display: flex;
  justify-content: space-between;
}
.drawer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
  overflow-y: auto;
  color: white;
  max-height: 90vh;
  height: 81vh;
  width: 100%;
  box-shadow: 0 -0.2px 0px 2px rgba(79, 147, 255, 1);
  border-radius: 30px 30px 0px 0px;
  background: #15314c;
  display: flex;
  flex-direction: column;
}
.closeButton {
  position: absolute;
  top: 25px;
  right: 25px;
  transition: 0.3s;
}
.drawerBody {
  align-items: center;
}
.closeButton::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  background: transparent;
  transform: translate(-50%, -35%);
}
.drawerFooter {
  display: flex;
  padding-top: 0px;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.accountName {
  background-color: #1d4a75;
  border-radius: 30px;
  width: 364px;
  height: 100px;
  gap: 4px;
  padding: 10px;
  text-align: center;
}
.accountName p {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "GothamProBold";
}
.accountName input {
  border-radius: 8px;
  background-color: #15314c;
  outline: none;
  font-size: 20px;
  font-family: "GothamProBold";
  text-align: center;
  width: 240px;
  transition: 30s;
  box-shadow: 0px 0px 0px 2px rgba(79, 147, 255, 1);
  caret-color: #6caeed;
}
.accountName input:focus {
  background-color: #1d4a75;
}
.accountCurrency {
  background-color: #1d4a75;
  height: 64px;
  width: 364px;
  padding: 0px 18px;
  border-radius: 30px;
}
.accountCurrency {
  display: flex;
  justify-content: start;
  gap: 3px;
  padding-left: 18px;
  padding-right: 18px;
  overflow-x: scroll;
  align-items: center;
}
.currencyItem {
  padding: 0px 10px;
  display: inline-block;
  border-radius: 8px;
  background-color: #0a2c4c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6caeed;
  font-family: "GothamProBold";
  cursor: pointer;
  height: 38px;
  width: 73px;
}
