.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  height: calc(100vh - 135px);
  background-color: #15314c;
  border-radius: 20px;
  padding: 11px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25), 0px 0px 40px rgba(0, 0, 0, 0.25);
}
.addButton {
  position: fixed;
  bottom: 110px;
  right: 50%;
  transform: translateX(50%);
}
.addButtonStyled {
  width: 288px;
  height: 56px;
  font-size: 20px;
  border-radius: 20px;
}
.accountHeadWrapper {
  display: flex;
  gap: 50px;
}
.accountHead {
  color: white;
  padding: 12px;
  border-radius: 12px;
  background-color: #1d4a75;
}
.accountHeader {
  display: flex;
  justify-content: space-between;
}
.accountHead p {
  font-weight: 700;
  font-size: 20px;
}

.sum p {
  font-size: 16px;
}
.sumText {
  font-size: 30px !important;
  font-weight: 300 !important;
}
.currencyHeader {
  font-size: 16px !important;
  font-weight: 700;
}
.currencyText {
  font-size: 30px !important;
  font-weight: 500;
}
/* For accounts items */
.accountItem {
  color: white;
  border-radius: 12px;
  padding: 12px;
  background-color: #2a5d91;
}
.accountItem:first-child {
  margin-top: 15px;
}
.accountItem:not(:last-child) {
  margin-bottom: 8px;
}
.accountItemHeader {
  display: flex;
  justify-content: space-between;
}
