.container {
  height: calc(100vh - 135px);
  background-color: #15314c;
  border-radius: 20px;
  padding: 11px;
}
.addButton {
  position: fixed;
  bottom: 100px;
  right: 50%;
  transform: translateX(50%);
}
.addButtonStyled {
  width: 288px;
  height: 56px;
  font-size: 20px;
  border-radius: 20px;
}
