@import url("./fonts.css");
/* Basic theme variables */
:root {
  --background-color: #0a0f2a;
  --text-color: #ffffff;
  --primary-color: #4f93ff;
  --box-shadow: rgba(79, 147, 255, 1);
}
* {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "GothamPro";
}
body,
html {
  margin: 0;
  padding: 0;
}
