.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.container {
  color: white;
  min-height: 100vh;
  background-color: #15314c;
  border-radius: 20px;
  padding: 11px;
  padding-bottom: 186px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25), 0px 0px 40px rgba(0, 0, 0, 0.25);
}
.month {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 18px 30px;
  position: relative;
  color: white;
}
.month button::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background: transparent;
}
.prevMonthBtn::before {
  top: 0px;
  bottom: -10px;
  left: -20px;
  right: -10px;
}
.nextMonthBtn::before {
  top: -2px;
  bottom: -10px;
  left: -20px;
  right: -10px;
}
.date {
  font-size: 30px;
  font-family: "GothamProBold";
}
.sum {
  color: white;
  background: #3582ff;
  border-radius: 24px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  z-index: 1;
}
.sumText {
  font-family: "GothamProBold";
  font-size: 20px;
}
.sumValue {
  font-size: 40px;
  font-weight: 400;
}
.sumCurrency {
  font-size: 20px;
}
.addButton {
  position: fixed;
  bottom: 110px;
  right: 50%;
  transform: translateX(50%);
}
.addButtonStyled {
  width: 288px;
  height: 56px;
  font-size: 20px;
  border-radius: 20px;
}
.addButtonStyled:hover {
  opacity: 1;
  transform: scale(1.01);
}
.accountWrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 16px;
}
.accountWrapperRightBtn svg {
  transform: rotate(180deg);
}
.accountWrapperBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accountWrapperContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.accountWrapperBoxName {
  color: #6d9dcf;
  font-size: 20px;
  font-family: "GothamProBold";
}
.accountWrapperBoxValue {
  font-size: 30px;
}
.accountWrapperBoxValue span {
  font-size: 20px;
  color: #6d9dcf;
  font-family: "GothamProBold";
}
.nextMonthBtn {
  transform: rotate(180deg);
}
.accountNoAccount {
  text-align: center;
  width: 100%;
}
.accountWrapperBox {
  display: flex;
  width: 100%;
}
.accountWrapper button {
  position: relative;
}
.accountWrapper button::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background: transparent;
  top: 15px;
  bottom: -10px;
  left: -20px;
  right: -10px;
}
.expensesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.expenseItem {
  padding: 0px 10px;
  background-color: #2a5d91;
  border-radius: 12px;
  height: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "GothamProBold";
}
.expenseItemAmount {
  display: flex;
  justify-content: end;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.expenseItemCategory {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.expenseItemCategory span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.expenseItemCategoryCircle {
  border-radius: 50%;
  min-width: 8px;
  height: 8px;
  margin-right: 8px;
}
.expenseItemButton {
  position: relative;
  display: flex;
  justify-content: end;
}

.expenseItemButton::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  top: -8px;
  bottom: -10px;
  left: -20px;
  right: -10px;
}
/* Flex */
.expenseItemDate {
  flex: 0.2;
}
.expenseItemAmount {
  flex: 0.4;
}
.expenseItemCategory {
  flex: 0.4;
}
.expenseItemButton {
  flex: 0.1;
}
/* Drawer, add expense */
.drawer {
  color: white;
  max-height: 90vh;
  height: 90vh;
  width: 100%;
  box-shadow: 0 -0.2px 0px 2px rgba(79, 147, 255, 1);
  border-radius: 30px 30px 0px 0px;
  background: #15314c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawerBody {
  display: flex;
  align-items: center;
  height: 320px;
  min-height: 320px;
}
.closeButton {
  position: absolute;
  top: 25px;
  right: 25px;
  transition: 0.3s;
}
.closeButton:hover {
  transform: scale(1.1);
}
.closeButton::before {
  position: absolute;
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background: transparent;
  transform: translate(-50%, -35%);
}
.drawerFooter {
  position: absolute;
  bottom: 0;
  padding-right: 0;
  transform: translate(-20%);
}
