.setting {
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 19px;
  transition: background-color 0.3s;
  border: 1px solid var(--setting-button-border);
}
.setting:hover {
  background-color: var(--background-color-primary);
}
.setting:not(:last-child) {
  margin-bottom: 10px;
}
.designer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.designer a {
  text-decoration: none;
  color: var(--primary-color);
}
.version {
  display: flex;
  justify-content: center;
  font-size: 10px;
}
