.version {
  color: #6caeed;
  font-size: 10px;
}
.settings {
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.setting {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  padding-top: 25px;
}
.setting button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  transition: all 0.3s;
}
.setting a {
  width: 100%;
}
.setting button:hover {
  color: #a8c9ff;
}
.setting:first-child {
  padding-top: 10px;
}
.setting:not(:last-child) {
  padding-bottom: 25px;
  border-bottom: 1px solid #2e68a4;
}
.settingsWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.designer {
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-size: 16px;
  margin-top: 35px;
}
.designer a {
  color: #3582ff;
  transition: all 0.4s;
}
.designer a:hover {
  color: #5f9cff;
}
.disabled {
  color: #3582ff;
  cursor: not-allowed;
}
.disabled button {
  cursor: not-allowed;
}
.disabled button:hover {
  cursor: not-allowed;
  color: #3582ff;
}
.removeModalHeader {
  color: white;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  font-family: "GothamProLight";
  font-weight: normal;
  padding-bottom: 0px;
}
.removeModalHeader a {
  display: block;
  margin-top: 10px;
  color: #3582ff;
}
.removeModalFooter {
  margin: 0;
  padding: 10px;
  padding-bottom: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoriesWrapper {
  min-height: 100vh;
  background-color: #15314c;
  border-radius: 20px;
  padding: 16px;
  padding-bottom: 186px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25), 0px 0px 40px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.categoryHeading {
  margin: 10px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "GothamProBold";
  margin-bottom: 30px;
}
.backToSettings {
  top: -5px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.backToSettings::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background: transparent;
  top: -10px;
  bottom: -10px;
  left: -20px;
  right: -10px;
}
/* Categories styles */
.category {
  font-family: "GothamProBold";
  color: white;
  background-color: #1d4a75;
  font-size: 20px;
  display: flex;
  height: 48px;
  border-radius: 12px;
  align-items: center;
  padding: 0px 12px;
  margin-bottom: 6px;
  transition: 0.3s all;
}
@media (hover: hover) {
  .category:hover {
    background-color: #173c5f;
    cursor: pointer;
  }
}
.category:active {
  background-color: #2d8be2;
  cursor: pointer;
}
.categoryColor {
  margin-right: 12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.addButton {
  position: fixed;
  bottom: 110px;
  right: 50%;
  transform: translateX(50%);
}

.closeButton:hover {
  transform: scale(1.1);
}
.addButtonStyled:hover {
  opacity: 1;
  transform: scale(1.01);
}
.addButtonStyled {
  width: 288px;
  height: 56px;
  font-size: 20px;
  border-radius: 20px;
  top: 5px;
}
.drawer {
  background-color: #15314c;
  border-radius: 20px 20px 0 0;
  padding: 16px;
  padding-top: 0;
  box-shadow: 0 -0.2px 0px 2px rgba(79, 147, 255, 1);
  border-radius: 30px 30px 0px 0px;
}
.drawerBody {
  padding: 16px 0;
  align-items: center;
}
.closeButton {
  top: 35px;
  right: 13px;
}
.closeButton,
.deleteButton {
  position: absolute;
  transform: translateY(-50%);
  padding: 8px;
  transition: 0.3s;
}
.deleteButton {
  top: 35px;
  left: 13px;
}
.closeButton:hover,
.deleteButton:hover {
  transform: translateY(-50%) scale(1.1);
}
.inputContainer {
  margin-bottom: 24px;
}
.inputLabel {
  color: #6d9dcf;
  font-family: "GothamProBold";
  font-size: 16px;
  margin-bottom: 8px;
}
.categoryInput {
  width: 100%;
  height: 48px;
  background-color: #1d4a75;
  border-radius: 12px;
  border: none;
  padding: 0 16px;
  color: white;
  font-size: 16px;
  font-family: "GothamPro";
  border-radius: 8px;
  background-color: #1d4a75;
  outline: none;
  height: 64px;
  font-size: 30px;
  font-family: "GothamProBold";
  text-align: center;
  width: 240px;
  box-shadow: 0px 0px 0px 2px rgba(79, 147, 255, 1);
  transition: 30s;
  caret-color: #6caeed;
}
.categoryInput:focus {
  outline: none;
  background-color: #2a5d91;
}
.colorSection {
  margin-bottom: 24px;
}
.colorGrid {
  display: flex;
  gap: 12px;
  padding: 8px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.colorOption {
  width: 32px;
  height: 32px;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.01s;
  justify-content: center;
  align-items: center;
}
.colorOption:hover {
  transform: scale(1.1);
}
.selectedColor {
  border: 2px solid #ffffff;
  transform: scale(1.1);
}
.drawerFooter {
  padding: 16px 0;
  justify-content: center;
}
.colorPickerContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.colorOption span {
  color: white;
  font-size: 20px;
  line-height: 24px;
}
.colorPickerModal {
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  padding-bottom: 50px;
}
.colorPickerModal {
  width: 100%;
}
.modalColor {
  width: 320px;
  color: white;
  background-color: #173958;
}
.categoryNameDisplay {
  font-size: 32px;
}
.categoryNameDisplay {
  color: white;
}
.removeModalHeader {
  font-family: "GothamProBold";
}
.removeModalWarning {
  color: white;
  font-size: 12px;
  text-align: center;
}
